@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 50px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header .container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1090px;
    align-items: center;
    margin-left: 16px;
    overflow: hidden;
}

.menuHamburg {
    position: absolute;
    right: 0;
    margin-right: 16px;
    display: none;
}

.line-one,
.line-two,
.line-three {
    border: 2px solid black;
    width: 30px;
    margin: 8px 0;
}

nav {
    transition: 0.5s;
}

header ul {
    list-style: none;
    display: flex;
    text-align: start;
}

header ul li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/************** Page To Calculator ***********************************************/

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.mobile {
    visibility: hidden;
}

.principal {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

fieldset {
    border-radius: 10px;
    margin: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(13, 70, 51);
    height: auto;
    background-color: rgb(0, 255, 191, 0.2);
    max-width: 800px;
}

legend {
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 99, 66);
}

h2 {
    margin-bottom: 3px;
    font-size: 28px;
}

.altura,
.peso {
    border: 1px solid black;
    border-radius: 5px;
    width: 280px;
    height: 50px;
    padding-left: 8px;
    font-size: 38px;
}

.divBt{
    margin-top: 20px;
}

.divBt .botaoAparecer {
    height: 50px;
    width: 180px;
    background-color: aquamarine;
    border-radius: 5px;
    font-size: 32px;
}

.divBt .botaoZerar {
    height: 35px;
    width: 90px;
    font-size: 22px;
}

.resposta {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 35px;
}

.divHidden {
    font-size: 25px;
    margin-bottom: 12px;
}

.class {
    font-size: 29px;
    margin-bottom: 12px;
}

p {
    font-size: 18px;
}




/*                     Responsive                     */


@media (max-width: 680px){
    .menuHamburg {
        display: block;
    }
    
    nav {
        transition: 0.5s;
        margin-right: -305px;
        z-index: 1;
        border: 1px solid blueviolet;
        margin-top: 245px;
    }

    header ul li {
        margin: 15px;
    }
    
    header ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        text-align: start;
        background-color: rgb(199, 162, 233);
        padding: 0;
        margin: 0;
    }




    /*              Calculator Page                   */

    .mobile {
        visibility: visible;
    }

    .desktop {
        display: none;
    }



}